#title_line { 
	position : relative;
	top : 23px;
    text-align : center;
    text-shadow : 2px 2px 4px #000000;
    color : white;
    z-index: 0;
    font: 34px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    	user-select:none;
}
body { margin:0; padding:0; }

#map { position:absolute; top:0px; bottom:0; width:100%; height: 100%;z-index :-1;}

#first_bar, #second_bar,  {
	margin: auto;
	width : 100%;
}
#third_bar {
	max-width : 650px;
	width : 50%;
	margin :auto;
	text-align : center;
	position : relative;
	top : 500px;
	background-color : brown;
	z-index: 5;
	opacity : 0.9;
}
#third_bar:hover{
	cursor : pointer;
}
#select1{
	width : 100%;
}
#clear{
	width : 100%;
}

.sidenav {
	height : 100%;
    max-width: 250px; 
    width:20%;
    opacity:0.9;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0;
    background-color: brown; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 30px;
    color : black;
}
.closebtn:hover {
	cursor : pointer;
}
.backsidenav {
	height: auto; 
    width: 10%; 
    opacity:0.0;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0;
    background-color: brown; 
    overflow-x: hidden; 
    transition: 0.8s; 
    color: white;
    font: 25px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    ;
}
.backsidenav:hover{
 cursor: pointer;
}
.desc {
    height: 100%; 
    width: 0px; 
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0px; 
    z-index: 4; 
    float : right;
    background-color: brown; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
    font-size : 1.2vw;
}
.desc .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 30px;
    color : black;
}
.desc_top {
	font-size : 2vw;
}
#search_box { 
	width : 100%;
 }
#gogogo {
	width : 100%;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.tt-hint {
    color: #999999;
}
.tt-menu { 
    max-width: 152px;
    width : 100%;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius : 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-menu:hover {
	cursor : pointer;
}
.tt-suggestion {
    font-size: 13px;
    margin-left : 7px;
    line-height: 24px;
}

.tt-suggestion:hover {
	background-color : grey;
	color: white;
	cursor: pointer;
}

.tt-suggestion.tt-cursor {
	background-color : grey;
	color: white;
}


/*scatter2*/
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
.dot:hover {  
	cursor: pointer;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}


.not_selected {
	fill: rgb(200,200,200);
}









