.sidenav {
    height : 100%;
    max-width: 250px; 
    width:10%;
    opacity:0;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0;
    background-color: #A1A1A1; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
    z-index : 101;
}

/* close button in side navigation bar */
.closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 30px;
    color : white;
    user-select: none;
}

.closebtn:hover {
    cursor : pointer;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size : 2.0vw;
}
table {
    font-family: 'Lato', sans-serif;
}
/* search and list button */
.backsidenav {
    max-width : 150px ;
    height: auto; 
    width: 10%;
    min-width : 126.5px; 
    opacity:1;
    z-index: 2; 
    position : fixed;
    left : 0px;
    background-color: #A1A1A1; 
    overflow-x: hidden; 
    transition: 0.8s; 
    color: white;
    font: 22px 'Roboto', sans-serif; 
    user-select : none;
}

.backsidenav:hover{
    cursor: pointer;
}

#openner2 {
    /*top : 50px;*/
    margin-top : 40px;
    text-align : center;
}

/* description navigation bar*/
.desc {
    height: 100%; 
    width: 0px; 
    opacity:1;
    position: absolute;
    top: 0;
    left: 0px; 
    z-index: 102; 
    float : right;
    background-color: #A1A1A1; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
    font-size : 1.1vw;
}

.desc_top {
    margin-top : 10px;
    font-size : 2vw;
    font-family: 'Roboto', sans-serif; 
    line-height : 1.0;
}

/* list of research sites*/
.lister {
    height : 100%;
    max-width: 250px; 
    width:0%;
    opacity :0;
    position: fixed; 
    z-index: 103; 
    top: 0; 
    left: 0;
    background-color: #A1A1A1; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s;  
    color : white;
    text-align : center;
    font-size : 1.0vw;
}

.list_element_yes {
    color : white ;
    opacity : 1.0;
}
.list_element_yes:hover{
    cursor : pointer;
}

.list_element_no {
    color:white;
    opacity: 0.3;
}

#collected {
    background-color : #949494;
    margin-top : 0px;
}

.region_division{
    font-size : 1.2vw;
    background-color : #828282;
    user-select :none ;
}

/* lasso related */
/*.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}
.dot:hover {  
    cursor: pointer;
}

.legend:hover {
    cursor: pointer ;
}

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width : 2px;
}

.lasso .drawn {
    fill-opacity : .05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill:rgb(200,200,200);
}

.possible {
    fill:#EC888C;
}

.not_selected {
    fill: rgb(200,200,200);
}*/

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.twitter-typeahead {
    width: 100%;
}
.tt-input { 
    width : 100%;
}
.tt-hint {
    color: #999999;
    width: 100%;
}
.tt-menu { 
    width : 100%;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius : 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 100px;
    overflow-y: auto;
}
.tt-menu:hover {
    cursor : pointer;
}
.tt-suggestion {
    font-size: 13px;
    margin-left : 7px;
    line-height: 24px;
}

.tt-suggestion:hover {
    background-color : grey;
    color: white;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color : grey;
    color: white;
} 


#select1{
    width : 100%;
}

#clear{
    width : 100%;
}

/* slider */
/*#first_bar, #second_bar,  {
    margin: auto;
    width : 100%;
    background-color : #A1A1A1;
}*/

/* button to list view*/
.button1 {
  border-radius: 4px;
  background-color: #6E6E6E;
  border: none;
  color: white;
  text-align: center;
  /*max-width: 200px;*/
  width : 100%;
  height : auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  font: 1.2vw 'Roboto', sans-serif;
  margin-bottom : 5px; 
}

.button1:hover {
    cursor :pointer;
    background-color : #666460;
}


/* title */
#title_line { 
	position : relative;
	top : 23px;
    text-align : center;
    text-shadow : 2px 2px 4px white;
    color : black;
    z-index: 0;
    font: 2.5vw 'Ropa Sans', sans-serif;
	user-select:none;
}


#map { 
    position:absolute; 
    top:0px; 
    bottom:0; 
    width:100%; 
    height: 100%;
    z-index :-1;
}

body { margin:0; padding:0; }

.map_part { 
    width : 100%;
    height : 400px;
 }
/* year slider */
#third_bar {
	max-width : 650px;
	width : 50%;
	margin :auto;
	text-align : center;
	position : absolute;
	right : 0 ;
    left : 0;
    bottom : 50px;
	background-color : #A1A1A1;
	z-index: 120;
	opacity : 1;
}

#third_bar:hover{
	cursor : pointer;
}

/* credit related*/
#credit {
    z-index : 3;
    position : fixed ;
    bottom :27px;
    left:8px;
    font: 15px 'Roboto', sans-serif;; 
    color : grey;
}

a:link {
    color: grey;
    opacity : 0.5;
    text-decoration: none;
}

a:visited {
    color: grey;
    opacity : 0.5;
    text-decoration: none;
}

a:hover {
    color: grey;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: grey;
    text-decoration: none;
}


table, th, td {
    /*border: 1px solid white;*/
    margin:auto;
}
table { 
    width : 100%; 
    line-height : 1.1;
}

#description {
    width : 90%;
    background-color :  #949494;
    /*border: 1px solid white;*/
}

#description th { 
    border: 0.1px solid rgba(255, 255, 255, .3);
 }

#description td { 
    border: 0.1px solid rgba(255, 255, 255, .3);
 }

#front_desc { 
    background-color :  #828282;
 }

#fillgauge1 {
    z-index : 100;
}

#line_title {
    position: relative;
    bottom: 0px; 
}

#bottom_bar { 
    position : fixed;
    bottom : 0px;
    width : 100%;
    background-color : white;
    opacity : 0;
    user-select : none;
    z-index : -100;
 }

.funds-allocated-meter .background {
    fill: white;
  }
.funds-allocated-meter .foreground {
    fill: #00D2B6;
  }
.funds-allocated-meter .percent-complete {
      font-family: 'Lato', sans-serif;
      font-size: 40px;
      fill: #5B8BE3;
      letter-spacing: -.03em;
    }
.funds-allocated-meter .description {
      font-family: 'Lato', sans-serif;
      font-size: 11px;
      fill: #9B9B9B;

}

#first_column, #second_column, #third_column {
    text-align:center;
}

.table_column { 
    width : 20% 
}
#title_line2 {
    position: absolute;
    bottom: 65px;
    text-align: center;
    width: 100%;
    font: 1.4vw 'Roboto', sans-serif; 
    user-select:none;
    color:black;
}

.map-overlay {
    font: 1.1vw 'Roboto', sans-serif;
    position: absolute;
    width: 11%;
    height : auto;
    bottom : 20px;
    right : 0px;
    padding: 10px;
    background-color : white;
}


