body {
	font-family: "Akkurat Pro",Arial,sans-serif;
	font-size: 24px;
	background-color: #311A53;
	color:white;
}

#venn path:hover {
	cursor: pointer;
}

text {
	fill:white;
}

#venn text:hover {
	cursor: pointer;
}

.axis path, line {
	stroke:white;
}

#title {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family:"Campton ExtraBold",Arial;
}

#subtitle {
	text-align: center;
	font-size: 40px;
}
#minititle {
	opacity:0.6;
	font-style: italic;
	text-align: center;
	position:relative;
	top:50px;
	font-size: 28px;
}

.venntooltip {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 28px;
	background: #333;
	color: #ddd;
	padding: 2px;
	border: 0px;
	border-radius: 8px;
	opacity: 0;
}

#chart {
	display:inline-block;
}

#chart {
	pointer-events: none;
}

#chart g {
	pointer-events: all;
}

#line {
	position:relative;
	top:30px;
}

#chart_wrapper {
	width: 750px;
	height:750px;
}

#title_wrapper {
	width:900px;
}

.wrapper {
	position:relative;
	float:left;
}

.credits {
	clear:both;
	top:-93px;
	position:relative;
	width:900px;
	text-align: right;
	opacity: 0.8;
}

#controller_wrapper {
	opacity:0.8;
	display:inline-block;
	position:absolute;
	top:0%;
	left:-4%;
}

#controller {
	height:133px;
	width:133px;
}

.play {
	background: url(../data/play_white.png)
}

.play:hover {
	cursor:pointer;
	background: url(../data/play_hover.png)
}

.play:active {
	cursor:pointer;
	background: url(../data/play_active.png)
}

.pause {
	background: url(../data/pause_white.png)
}

.pause:hover {
	cursor:pointer;
	background: url(../data/pause_hover.png)
}

.pause:active {
	cursor:pointer;
	background: url(../data/pause_active.png)
}

.skip {
	position:relative;
	font-size:200%;
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
   	-moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.skip-left {
	position:relative;
	display:inline-block;
	width:66px;
	top:-24px;
}

.skip-right {
	position:relative;
	display:inline-block;
	width:66px;
	top:-24px;
}
.skip-left:hover {
	background:rgba(255, 255, 255, 0.2);
	cursor:pointer;
}
.skip-right:hover {
	background:rgba(255, 255, 255, 0.2);
	cursor:pointer;
}
.skip-left:active {
	color:#EDC951;
}
.skip-right:active {
	color:#EDC951;
}

.speed {
	position:relative;
	top:-26px;
	text-align: center;
	font-size: 70%;
}

.speed:hover {
	cursor:pointer;
	color:#00A0B0;

}

.speed:active {
	cursor:pointer;
	color:#EDC951;
}

.student-aura {
  fill: none;
  stroke-width:12px;
  stroke-opacity:.2;
}
.student-line {
  fill: none;
  stroke-width:2px;
  stroke-opacity:1;
}